@page
@model RecruitCatsharm2al.Pages.OurTeamModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .imgd {
            width: 280px;
            height: 280px;
        }
    </style>
</head>
<body>
    <p>Our Recruitment Team comprises of 3 members:-</p>

    <ol>
        <li><a asp-page="/TeamMembers/Anil">Anil Sharma</a></li>
        <img class="card-img-top imgd" src="https://pbs.twimg.com/media/DeeURoLWsAEa9On.jpg" alt="Anil">

        <li><a asp-page="/TeamMembers/Abhishek">Abhishek Pawar</a></li>
        <img class="card-img-top imgd" src="https://cdnb.artstation.com/p/assets/images/images/018/775/889/large/sangmin-lee-ufc-bone.jpg?1560691843" alt="Abhishek">

        <li><a asp-page="/TeamMembers/Dhruv">Dhruv Agarwal</a></li>
        <img class="card-img-top imgd" src="https://1734811051.rsc.cdn77.org/data/images/full/222049/ufc-2-khabib.jpg" alt="Dhruv">

    </ol>
</body>
</html>
