@page
@model RecruitCatsharm2al.Pages.RecruitCatsharm2alModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .spelling-error {
            text-decoration-line: underline;
            text-decoration-color: darkred;
            color: darkred;
        }

        .spelling-errors {
            text-decoration-line: underline;
            text-decoration-color: darkred;
            color: darkred;
        }
    </style>
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="subtitle">We operate with Limitless Minds, Fearless Hearts and Relentless Delivery. And we're always looking for naturally curious people to make us better.</p>
                    <h2 class="section-title">The Data Pioneers</h2>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card border-0 shadow rounded-xs pt-5">
                        <div class="card-body">
                            <i class="fa fa-object-ungroup icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i>
                            <h4 class="mt-4 mb-3">Data Science</h4>
                            <p>Preparing data for analysis, including cleansing, aggregating, and manipulating the data to perform advanced data analysis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card border-0 shadow rounded-xs pt-5">
                        <div class="card-body">
                            <i class="fa fa-cloud icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i>
                            <h4 class="mt-4 mb-3">Data Analytics</h4>
                            <p>Analyze raw data for insights and trends and extract valuable sapience inorder to increase clientelles profitibility</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card border-0 shadow rounded-xs pt-5">
                        <div class="card-body">
                            <i class="fa fa-comments icon-lg icon-red icon-bg-red icon-bg-circle mb-3"></i>
                            <h4 class="mt-4 mb-3">Consulting</h4>
                            <p>We build up a customer's analytics skills, data competencies, and better structure the machinations and workings of their business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card border-0 shadow rounded-xs pt-5">
                        <div class="card-body">
                            <i class="fa fa-search-plus icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
                            <h4 class="mt-4 mb-3">Business Intelligence</h4>
                            <p>Use of data analytics, data mining, data visualization, and data tools to help organizations make better data-driven decisions.</p>
                        </div>
                    </div>
                </div>
        <h2>Client Feedback:</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>"Sharma Analytics is the best for all data driven solutions. I am so happy with their insights!"<br><span style="font-style:normal;">Michael Roe, Vice President, XYZ industry</span></h4>
                </div>
                <div class="item">
                    <h4>"Couldn't be more happy with this company"<br><span style="font-style:normal;">Chandler Bing, Actor, Friends</span></h4>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <section class="text-center my-5 p-1">
            <h2 class="h1-responsive font-weight-bold my-5">Join Us</h2>
            <form>

                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example1" class="form-control" />
                            <label class="form-label" for="form6Example1">First Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" />
                            <label class="form-label" for="form6Example2">Last Name</label>
                        </div>
                    </div>
                </div>


                <div class="form-outline mb-4">
                    <input type="email" id="form6Example5" class="form-control" />
                    <label class="form-label" for="form6Example5">Email ID</label>
                </div>


                <button type="submit" class="btn btn-primary btn-block mb-4" style="width: 250px;">Upload Resume/CV</button>
            </form>
        </section>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" style="height: 31.75rem" src="https://images.all-free-download.com/images/graphicthumb/cooperation_handshake_picture_170365.jpg" alt="First slide">
                <div class="carousel-caption">
                    <div class="card">
                        <div class="card-body">
                            <h4><u class="spelling-error">What do we do?</u></h4>
                            <p style="color:black">
                                We use unmatched 1st party retail data and analytics powered by cutting edge science to fuel a more customer-centric journey.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 style="height: 16.75rem" src="https://img.etimg.com/thumb/msid-61131171,width-640,resizemode-4,imgsize-30471/easy-to-use.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <div class="card">
                        <div class="card-body">
                            <h4><u class="spelling-error">Our Location and Contact Details?</u></h4>
                            <p style="color:teal">
                                65 W McMillan St.,<br>
                                Cincinnati, Ohio 45219, 513-377-4588
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</body>
</html>
